@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

@layer utilities {
    .glass-panel {
        @apply bg-white/40 border shadow-lg backdrop-blur-[40px];
        border-color: rgba(0, 0, 0, 0.05);
        
        -webkit-backdrop-filter: blur(40px);
    }

    .glass-panel-dark {
        @apply bg-[#2C2C2E]/5 border border-black/5 shadow-sm backdrop-blur-[20px];
    }

    .neumorphic-pressed {
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.05), inset -2px -2px 5px rgba(255, 255, 255, 0.8);
    }

    .logo-text {
        letter-spacing: -0.04em;
    }

    .tree-line {
        position: relative;
    }

    .tree-line::before {
        content: '';
        position: absolute;
        left: -12px;
        top: 0;
        bottom: 0;
        width: 1px;
        background: linear-gradient(to bottom, rgba(120, 153, 181, 0.2) 0%, rgba(120, 153, 181, 0.05) 100%);
    }

    
    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.01);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
    }

    
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    }

    .material-symbols-outlined.fill-1 {
        font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    }

    details summary::-webkit-details-marker {
        display: none;
    }
}